version: '3.8'

services:
  aurora_ndi_tracker:
    image: aurora_ndi_tracker:latest
    container_name: aurora_ndi_tracker
    privileged: true
    network_mode: host
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /dev:/dev
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
    stdin_open: true
    tty: true